:root{
    --bg: #28172a;
    --main-color: white;
}

body {
    margin: 0;
    padding: 0;
    background: var(--bg);
    color: var(--main-color);
    position: relative;
    font-family: Sans-Serif;
}

.center {
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 40px;
    flex-direction: row;
}

nav button {
    background: #0d0d0d;
    color: var(--main-color);
    border: none;
    cursor: pointer;
}

button {
    background: var(--bg);
    color: var(--main-color);
    cursor: pointer;
    font-size: 1rem;
    border: none;
}

.project {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.project a{
    text-decoration: none;
    color: var(--main-color);
    background: #00a9d9;
    width: 300px;
    height: 30px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block {
    width: 40px;
    height: 10px;
    background: cyan;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    animation: muter 2s linear infinite;
}

.hidden {
    display: none;
}

@keyframes muter {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}